	<div class="row">
            <div class="card hovercard">
                <div class="cardheader">
                <div class="row">
                <div class="container">
                    <div class="col-sm-12">
                    <div class="title">
                        <h2>Bonjour, Je suis Hassan Senhaji. Je suis Developpeur, <br>  & Mentor en Maths et Informatique, & YouTuber</h2>
                    </div>
                        <div class="buttons">
                           <%= link_to "commencer", "http://localhost:3000/", class: "btn btn-default" %>
            
                        </div>
                    </div>
                </div>
                    
                </div>
                </div>
                <div class="profil">
                <div class="avatar">
                    <img alt="" src="https://hellomentor.s3.amazonaws.com/users/avatars/large/22440.jpg?1452874129">
                </div>
              
                </div>
                  <div class="info">
                    <div class="title">
                        Hassan Senhaji
                    </div>
                    <div class="desc">Mentor en Mathématique</div>
                    <div class="desc">Developpeur des applications Web</div>
                    <div class="desc">Youtubeur</div>
                    <div class="desc">...</div>
                </div>
             
            </div>

     

	</div>
